<a href="https://colab.research.google.com/github/thorrila/HBV201G-forrit/blob/main/S2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pandas
import numpy as np
import io
import io
!pip install gapminder
from gapminder import gapminder

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: gapminder in /usr/local/lib/python3.11/dist-packages (0.1)
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (from gapminder) (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas->gapminder) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas->gapminder) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas->gapminder) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas->gapminder) (2025.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas->gapminder) (1.17.0)

In [ ]:
#1.1 - Gapminder
highest_life_exp = gapminder.loc[
    gapminder["country"] == "Iceland", ["year", "lifeExp"]
].sort_values("lifeExp", ascending=False).iloc[0]

display(highest_life_exp)

year       2007.000
lifeExp      81.757
Name: 695, dtype: float64

In [ ]:
#1.2 - Gapminder
gdp_1972 = gapminder.loc[gapminder["year"] == 1972, ["country", "gdpPercap"]]
display(gdp_1972)

                 country    gdpPercap
4            Afghanistan   739.981106
16               Albania  3313.422188
28               Algeria  4182.663766
40                Angola  5473.288005
52             Argentina  9443.038526
...                  ...          ...
1648             Vietnam   699.501644
1660  West Bank and Gaza  3133.409277
1672         Yemen, Rep.  1265.047031
1684              Zambia  1773.498265
1696            Zimbabwe   799.362176

[142 rows x 2 columns]

In [ ]:
#2.2 - Fasteignir

In [ ]:
#3.1 - PÃºls
import pandas as pd
puls = pd.read_csv('https://raw.githubusercontent.com/edbook/haskoli-islands/befec4563e9d2ce6a3b8674561fbae9193fce2e6/pulsAll.csv', sep=';')

puls["year"] = pd.to_datetime(puls["dagsetning"], dayfirst=True).dt.year

puls.groupby(["namskeid", "aldur"])["haed"].mean()

namskeid  aldur
LAN203    19       183.666667
          20       176.833333
          21       170.818182
          22       173.967742
          23       174.636364
          24       172.692308
          25       173.718750
          26       170.888889
          27       171.000000
          28       163.000000
          29       172.500000
          32       178.000000
          33       184.000000
          35       183.000000
          36       156.000000
          37       181.000000
          39       178.000000
          40       171.000000
          41       164.500000
          43       157.000000
          44       185.000000
          47       175.000000
          49       170.000000
          50       191.000000
          52       185.000000
          54       160.000000
          70       176.000000
STAE209   19       178.866667
          20       172.605769
          21       174.156863
          22       172.903846
          23       170.000000
          24       175.750000
          25       170.777778
          26       176.571429
          27       170.250000
          28       181.400000
          29       173.200000
          30       184.000000
          31       170.000000
          32       167.400000
          33       171.333333
          34       176.666667
          35       165.000000
          37       179.000000
          46       163.000000
          51       190.000000
          59       163.000000
Name: haed, dtype: float64

In [ ]:
#3.2 - PÃºls
puls.groupby(["namskeid", "year"])["haed"].mean()

namskeid  year
LAN203    2013    174.377358
          2014    170.914062
          2015    174.618182
STAE209   2013    173.670213
          2014    172.677273
          2015    173.670213
Name: haed, dtype: float64

In [ ]:
#4.1 - gapminder
gapminder.loc[gapminder.groupby(["year", "continent"])["lifeExp"].idxmax()]

          country continent  year  lifeExp        pop     gdpPercap
1260      Reunion    Africa  1952   52.724     257700   2718.885295
240        Canada  Americas  1952   68.750   14785584  11367.161120
756        Israel      Asia  1952   65.390    1620914   4086.522128
1140       Norway    Europe  1952   72.670    3327728  10095.421720
1092  New Zealand   Oceania  1952   69.390    1994794  10556.575660
973     Mauritius    Africa  1957   58.089     609816   2034.037981
241        Canada  Americas  1957   69.960   17010154  12489.950060
757        Israel      Asia  1957   67.840    1944401   5385.278451
685       Iceland    Europe  1957   73.470     165110   9244.001412
61      Australia   Oceania  1957   70.330    9712569  10949.649590
974     Mauritius    Africa  1962   60.246     701016   2529.067487
242        Canada  Americas  1962   71.300   18985849  13462.485550
758        Israel      Asia  1962   69.390    2310904   7105.630706
686       Iceland    Europe  1962   73.680     182053  10350.159060
1094  New Zealand   Oceania  1962   71.240    2488550  13175.678000
975     Mauritius    Africa  1967   61.557     789309   2475.387562
243        Canada  Americas  1967   72.130   20819767  16076.588030
795         Japan      Asia  1967   71.430  100825279   9847.788607
1467       Sweden    Europe  1967   74.160    7867931  15258.296970
1095  New Zealand   Oceania  1967   71.520    2728150  14463.918930
1264      Reunion    Africa  1972   64.274     461633   5047.658563
244        Canada  Americas  1972   72.880   22284500  18970.570860
796         Japan      Asia  1972   73.420  107188273  14778.786360
1468       Sweden    Europe  1972   74.720    8122293  17832.024640
64      Australia   Oceania  1972   71.930   13177000  16788.629480
1265      Reunion    Africa  1977   67.064     492095   4319.804067
245        Canada  Americas  1977   74.210   23796400  22090.883060
797         Japan      Asia  1977   75.380  113872473  16610.377010
689       Iceland    Europe  1977   76.110     221823  19654.962470
65      Australia   Oceania  1977   73.490   14074100  18334.197510
1266      Reunion    Africa  1982   69.885     517810   5267.219353
246        Canada  Americas  1982   75.760   25201900  22898.792140
798         Japan      Asia  1982   77.110  118454974  19384.105710
690       Iceland    Europe  1982   76.990     233997  23269.607500
66      Australia   Oceania  1982   74.740   15184200  19477.009280
1267      Reunion    Africa  1987   71.913     562035   5303.377488
247        Canada  Americas  1987   76.860   26549700  26626.515030
799         Japan      Asia  1987   78.670  122091325  22375.941890
1483  Switzerland    Europe  1987   77.410    6649942  30281.704590
67      Australia   Oceania  1987   76.320   16257249  21888.889030
1268      Reunion    Africa  1992   73.615     622191   6101.255823
248        Canada  Americas  1992   77.950   28523502  26342.884260
800         Japan      Asia  1992   79.360  124329269  26824.895110
692       Iceland    Europe  1992   78.770     259012  25144.392010
68      Australia   Oceania  1992   77.560   17481977  23424.766830
1269      Reunion    Africa  1997   74.772     684810   6071.941411
249        Canada  Americas  1997   78.610   30305843  28954.925890
801         Japan      Asia  1997   80.690  125956499  28816.584990
1473       Sweden    Europe  1997   79.390    8897619  25266.594990
69      Australia   Oceania  1997   78.830   18565243  26997.936570
1270      Reunion    Africa  2002   75.744     743981   6316.165200
250        Canada  Americas  2002   79.770   31902268  33328.965070
802         Japan      Asia  2002   82.000  127065841  28604.591900
1486  Switzerland    Europe  2002   80.620    7361757  34480.957710
70      Australia   Oceania  2002   80.370   19546792  30687.754730
1271      Reunion    Africa  2007   76.442     798094   7670.122558
251        Canada  Americas  2007   80.653   33390141  36319.235010
803         Japan      Asia  2007   82.603  127467972  31656.068060
695       Iceland    Europe  2007   81.757     301931  36180.789190
71      Australia   Oceania  2007   81.235   20434176  34435.367440

In [ ]:
#4.2 - gapminder
gapminder.groupby("country")["lifeExp"].apply(lambda x: x.diff(5).lt(0.01 * x.shift(5))).idxmax()

('Botswana', 165)